.TodoItemLoader {
  background-color: #384892;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  box-shadow: 0px 5px 50px rgba(103, 149, 241, 0.376);
}
