body {
  margin: 0;
  padding: 0;
  background: rgb(45, 44, 119);
  color: #d0d0d4;
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
